body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: steelblue;
   height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-status {
  width: 100%;
}

.user-status h3 {
  text-align: center;
}

.user-status p {
  text-align: center;
}

.user-status p span{
  margin: 10px;
}

a {
  text-decoration: none;
}

img {
  height: 70px;
  width: 70px;
  border: 1px solid black;
  border-radius: 100%;
}

.user {
  display: flex;
  margin-bottom: 5px;
}

.green {
  color: green;
  font-size: 50px;
}

.gray {
  color: gray;
  font-size: 50px;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.App .user-list {
  display: flex;
  flex-direction: column;
  height: 150vh;
  overflow-x: hidden;
  background-color: whitesmoke;
  padding: 30px;
}

.App .js-stage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  justify-content: center;
}

.stage-tile {
  text-align: center;
  background-color: whitesmoke;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  height: 32%;
  padding: 2px;
}


.chat-user {
  display: flex;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  width: 100%;
}

.chat-img {
  align-self: center;
  margin-left: -10px;
}

.chat-img img{
  height: 40px;
  width: 40px;
}

.chat-info {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 10px;
  flex-grow: 1;
}
